// Colors
$background: #abd1c6;
$headline: #001e1d;
$paragraph: #0f3433;
$link: #f9bc60;

$card-background: #004643;
$card-headline: #fffffe;
$card-paragraph: #e8e4e6;

$button: #f9bc60;
$button-text: #001e1d;
$form-input: #fffffe;
$label-placeholder: #004643;