@use '../../utils/variables';

footer {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0px;
    background-color: variables.$card-background;
    color: variables.$card-headline;
}